body{
    background-color: teal;
}
h1{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    font-size: 40px;
}
#main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.picDivs {
    width: 100%;
}

.charDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scene{
width: 200px;
height: 260px;
border: 1px solid #CCC;
margin: 40px 0;
perspective: 600px;
}

.card{
width: 100%;
height: 100%;
transition: transform 1s;
transform-style: preserve-3d;
cursor: pointer;
position: relative;
}

.card.is-flipped{
transform: rotateY(-180deg);
}

.card_face{
position: absolute;
width: 100%;
height: 100%;
line-height: 260px;
backface-visibility: hidden;
}

.card_face--front{
    background-color: red;
}

.card_face--back{
    transform: rotateY(180deg);
    background-color: white;
}

p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0px;
    font-size: 16px;
    line-height: 0px;
}

#newPokemon {
    width: 120px;
    height: 30px;
    background-color: blue;
    font-size: 1.5rem;
    margin: 15px;
    border-radius: 30px;
    border-color: black;
    border: 2px;
    padding: 10px;
    color:white;
}